* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-color-text: #362e29;
  --primary-color: #23b21f;
  --secondary-color: #b08f6d;
}
body {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  /* to check what is this  */
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--font-color-text);
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.navbar {
  border-bottom: 4px solid rgba(28, 110, 164, 0.13);
  background-color: #fff;
  padding: 20px;

  border-radius: 0px 0px 5px 5px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.navbar .main-menu ul {
  display: flex;
  align-items: center;
}
.navbar ul li a {
  padding: 5px 40px;
  font-weight: 700;
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: var(--primary-color);
}

/* Hero section */

.hero {
  height: 660px;
  border-bottom: 1px dotted black;
}

.container-hero {
  position: absolute;
  width: 100%;
  height: 550px;
  border-bottom: 1px dotted black;

  background: url(/images/blurred-bag-left-hero.png) left bottom no-repeat,
    url(/images/scroll-down-bag.png) center bottom no-repeat,
    url(/images/blurred-bag-right-hero.png) right bottom no-repeat,
    url(/images/girl-hero-section.png) 25% bottom no-repeat;
}

.hero .logo img {
  width: 300px;
  height: 200px;
}
.hero-heading .logo {
  position: absolute;
  left: 50%;
  top: 150px;
}
.text {
  position: absolute;
  font-size: 2.5rem;
  width: 500px;
  height: 100px;
  top: 55%;
  left: 50%;
}
.text .heading-text {
  font-weight: 400;
}

.text .secondary-text {
  padding-bottom: 20px;
  line-height: 40px;
}

/* About Product section  */

.product-info-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-info {
  height: 730px;
  border-bottom: 1px dotted black;
}
.image-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-circle img {
  position: absolute;
  height: 570px;
  width: auto;
}
/* Section about product / Circle-bag */
.circle {
  background: #fef9f1;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  display: flex;
  align-items: center;
}
/* Section about product / For product - TAB*/

.tab-title-icons {
  display: flex;
  flex-direction: row;

  position: relative;
  left: 60%;
  top: 20%;
}
.icon {
  margin-right: 10px;
}
.icon :nth-child(1) {
  margin-left: 10px;
}

.container-tab-icons {
  width: 600px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
  right: 20%;
}
.tab_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgba(229, 229, 229);
}

.tab_box .tab_btn {
  font-size: 14px;
  font-weight: 600;
  color: #919191;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}

.content_box {
  padding: 20px;
}
.tab_box .tab_btn.active {
  color: var(--primary-color);
}
.content_box .content {
  display: none;
  animation: moving 0.5s ease;
}
@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.content_box .content.active {
  display: block;
}

.content_box .content h2 {
  margin-bottom: 10px;
}
.line {
  position: absolute;
  top: 28px;
  left: 47px;
  width: 90px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

/* BTN classes */
.btn {
  display: inline-block;
  padding: 5px 30px;
  background: #fff;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: 0.5;
}
