* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-color-text: #362e29;
  --primary-color: #23b21f;
  --secondary-color: #b08f6d;
}
body {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}
a {
  text-decoration: none;
  color: var(--font-color-text);
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.navbar {
  border-bottom: 4px solid rgba(28, 110, 164, 0.13);
  background-color: #fff;
  padding: 20px;

  border-radius: 0px 0px 5px 5px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 0 100px;
}
.navbar .main-menu ul {
  display: flex;
  align-items: center;
}
.navbar ul li a {
  padding: 5px 40px;
  font-weight: 700;
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: var(--primary-color);
}

/* Hero section */

.hero {
  height: 660px;
}

.container-hero {
  position: absolute;
  width: 100%;
  height: 550px;

  background: url(/images/blurred-bag-left-hero.png) left bottom no-repeat,
    url(/images/scroll-down-bag.png) center bottom no-repeat,
    url(/images/blurred-bag-right-hero.png) right bottom no-repeat,
    url(/images/girl-hero-section.png) 25% bottom no-repeat;
}

.hero .logo img {
  width: 300px;
  height: 200px;
}
.hero-heading .logo {
  position: absolute;
  left: 50%;
  top: 150px;
}
.hero-heading {
  display: flex;
  flex-flow: column;
}
.text {
  position: absolute;
  font-size: 2.5rem;

  top: 55%;
  left: 50%;
}
.text .heading-text {
  font-weight: 400;
}

.text .secondary-text {
  padding-bottom: 20px;
  line-height: 40px;
}

/* About Product section  */

.image-circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-circle img {
  position: absolute;
  height: 570px;
  width: auto;
}
/* Section about product / Circle-bag */
.circle {
  background: #fef9f1;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  display: flex;
  align-items: center;
}
/* Section about product / For product - TAB*/

.tab-title-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.master-tab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .icon {
  margin-right: 10px;
}
.icon :nth-child(1) {
  margin-left: 10px;
} */
.tab-title {
  font-size: 2.4rem;
}

.container-tab-icons {
  width: 600px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  right: 30%;
}
.tab_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgba(229, 229, 229);
}

.tab_box .tab_btn {
  font-size: 14px;
  font-weight: 600;
  color: #919191;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}


.content_box {
  padding: 20px;
}
.tab_box .tab_btn.active {
  color: var(--primary-color);
}
.content_box .content {
  display: none;
  animation: moving 0.5s ease;
}
.product-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.content_box .content.active {
  display: block;
}

.content_box .content h2 {
  margin-bottom: 10px;
}
.line {
  position: absolute;
  top: 1012px;
  left: 48px;
  width: 90px;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.product-info-container {
  display: flex;

  align-content: space-between;
}
/* section 4  */

.card {
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 50px auto;
}

.card:hover {
  transition: 0.3s;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 3px var(--primary-color);
}
.card img {
  margin-bottom: 20px;
}

.card-container {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.container p {
  font-size: 0.8rem;
  text-wrap: wrap;
  text-align: center;
}
.container p span {
  font-weight: 700;
}
.card-last img {
  margin-bottom: 5px;
}
.card2 p {
  padding-bottom: 10px;
}
.card-last p {
  padding-bottom: 12px;
}
.reason-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.reason-heading {
  text-align: center;
}
.reason-heading h3 {
  font-weight: 400;
  font-size: 1.8rem;
}

.reason-heading span {
  font-size: 2rem;
  font-weight: 700;
}

/* section BMI */

.bmi-heading-text {
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  margin-left: 7rem;
  width: 90%;
  height: 300px;
  background-color: #fff9f0;
}
.title-bmi,
.text-bmi,
.btn-primary {
  margin-left: 5rem;
}
.title-bmi {
  margin-top: 8%;
  margin-bottom: 20px;
  padding-right: 20px;
  font-size: 1.6rem;
  font-weight: 400;
}
.title-bmi span {
  font-weight: 700;
}
/* .text-bmi {
  margin-bottom: 20px;
  margin-right: 20px;
} */
.bmi-heading-text {
  position: relative;

  z-index: 1;
}
/* .image {
  position: relative;
  left: 50%;
  z-index: 5;
} */
.container-bmi .bmi-heading-text .text-bmi {
  font-size: 1.1rem;
  text-align: left;
}
.container-bmi {
  display: flex;
}

.button-bmi a {
  display: relative;
  padding: 5px 30px;
  margin-left: 5rem;

  background: var(--primary-color);
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: 0.5;
  margin-top: 20px;
}

/* End of section BMI   */

/* section 6 */

.try-detox {
  height: 470px;
  background-color: antiquewhite;
}
.container-try-detox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.image-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-inner {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.icons {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.image {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 70px 50px 70px 450px;
  border: 1px solid #fff;
  border-radius: 20px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.bag {
  position: relative;
  right: 10rem;
}
.img2,
.img3 {
  padding-left: 15px;
}
.pack {
  font-weight: 700;
}
.logo-price .pack {
  margin-bottom: 20px;
}
.price {
  font-size: 2rem;
}
.logo-price .old-price {
  text-decoration: line-through;
  color: #b08f6d;
}
.text-btn {
  margin: auto 100px;
}
.text-btn h3 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.text-btn h3 span {
  font-weight: 700;
}

.text-btn {
  font-weight: 300;
}
/* FOOTER */

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.center-column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.menu ul {
  padding: 0 10rem;
}
.menu ul li {
  text-decoration: none;
}
.payment-icons {
  padding: 0 22rem;
}

.delivery-icons {
  padding: 0 32rem;
}
.social-icons {
  padding: 0 36rem;
}

.copyright {
  justify-content: center;
}
.results {
  align-items: center;
  justify-content: space-around;
}

.font-sm {
  font-size: 0.6rem;
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}

.font-color-grey {
  color: rgb(203, 212, 212);
}
/* end of footer */
/* BTN classes */
.btn {
  display: inline-block;
  padding: 5px 30px;
  background: #fff;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: 0.5;
}

/* HAMBURGER */

.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}
.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;

  width: 250px;
  height: 100%;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
}
.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
}
.mobile-menu ul li {
  margin: 10px 0;
}
.mobile-menu {
  font-size: 20px;
  transition: 0.3s;
}

@media (max-width: 960px) {
  .navbar .container {
    margin: 0 auto;
  }
  .payment-icons {
    padding: 0 6rem;
  }
  .delivery-icons {
    padding: 0 15rem;
  }
  .product-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .tab-title-icons {
    display: flex;
    justify-content: space-around;

    margin: 1rem;
  }

  .line {
    position: absolute;
    top: 1558px;
    left: 48px;
    width: 90px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
  .reason-info {
    margin-bottom: 2rem;
  }
}

@media (max-width: 670px) {
  .navbar .main-menu {
    display: none;
  }
  .navbar .hamburger-button {
    display: block;
  }

  .container-hero {
    position: absolute;
    width: 100%;
    height: 550px;

    background: url(/images/scroll-down-bag.png) center bottom no-repeat,
      url(/images/girl-hero-section.png) 10% bottom no-repeat;
  }
  .hero .logo img {
    width: 200px;
    height: 100px;
  }

  .text {
    position: relative;
    font-size: 1rem;
  }
  .text .heading-text {
    font-weight: 400;
  }

  .text .secondary-text {
    padding-bottom: 50px;
    line-height: 40px;
  }
  .card-container {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .payment-icons {
    padding: 0 1rem;
  }
  .delivery-icons {
    padding: 0 7rem;
  }
  .menu ul {
    padding: 0 1rem;
  }
  .btn {
    margin-left: 2rem;
  }
}

@media (max-width: 500px) {
  .container-hero {
    position: absolute;
    width: 100%;
    height: 500px;

    background: url(/images/girl-hero-section.png) 0% left no-repeat;
  }
  .text {
    
    font-size: 1rem;
    margin-top: 300px;
    margin-left: 50px;
  }
  .hero .logo img {
    width: 200px;
    height: 100px;
    margin-left: 40px;
  }
  .tab-title-icons {
    flex-wrap: wrap;
    gap: 1px;
    padding: 5px 5px;
  }
  .payment-icons {
    padding: 0 1rem;
    flex-wrap: wrap;
  }
  .menu ul {
    justify-content: space-around;
    flex-wrap: wrap;

  }
  
}
