* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-color-text: #362e29;
  --primary-color: #23b21f;
  --secondary-color: #b08f6d;
}
body {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  /* to check what is this  */
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--font-color-text);
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.navbar {
  border-bottom: 4px solid rgba(28, 110, 164, 0.13);
  background-color: #fff;
  padding: 20px;

  border-radius: 0px 0px 5px 5px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.navbar .main-menu ul {
  display: flex;
  align-items: center;
}
.navbar ul li a {
  padding: 5px 40px;
  font-weight: 700;
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: var(--primary-color);
}

/* Hero section */

.hero {
  height: 660px;
  border-bottom: 1px dotted black;
}

.container-hero {
  position: absolute;
  width: 100%;
  height: 550px;
  border-bottom: 1px dotted black;

  background: url(/images/blurred-bag-left-hero.png) left bottom no-repeat,
    url(/images/scroll-down-bag.png) center bottom no-repeat,
    url(/images/blurred-bag-right-hero.png) right bottom no-repeat,
    url(/images/girl-hero-section.png) 25% bottom no-repeat;
}

.hero .logo img {
  width: 300px;
  height: 200px;
}
.hero-heading .logo {
  position: absolute;
  left: 50%;
  top: 150px;
}
.text {
  position: absolute;
  font-size: 2.5rem;
  width: 500px;
  height: 100px;
  top: 55%;
  left: 50%;
}
.text .heading-text {
  font-weight: 400;
}

.text .secondary-text {
  padding-bottom: 20px;
  line-height: 40px;
}

/* BTN classes */
.btn {
  display: inline-block;
  padding: 5px 30px;
  background: #fff;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  transition: 0.5;
}
